@font-face {
    font-family: "myFirstFont";
    src: url("BAUHS93.TTF") format('ttf');
}

body {
  font-family: "myFirstFont";
  font-size: 120px;
  background-color: #00ff00;
}

div.score {
  padding: 13px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 170px;
  background-color: #ff2020; 
  border-radius: 32px;
  border-width: 12px;
  border-style: solid;
  border-color: #ffe800;
  color: #ffffff;
}